<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.codetalk.flow.fnd.mapper.UserTagMapper">

	<insert id="deleteUserTags" parameterType="Integer">
		delete from fnd_user_tags where user_id = #{userId}
	</insert>
	
	<insert id="insertUserTags" parameterType="map">
		insert into fnd_user_tags (user_id, tag_id) values 
		<foreach collection ="tagList" item="tagId" index= "index" separator =",">
		( #{userId}, #{tagId} )
		</foreach>
	</insert>
	
</mapper>





















