<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.codetalk.ssc.solv.mapper.ReplyVoteMapper">

	<resultMap type="me.codetalk.ssc.solv.pojo.ReplyVote" id="replyVoteResultMap">
		<result property="id" column="vote_id"></result>
		<result property="replyId" column="reply_id"></result>
		<result property="up" column="vote_up"></result>
		<result property="down" column="vote_down"></result>
		<result property="deleteMark" column="delete_mark"></result>
		<result property="createDate" column="create_date"></result>
	</resultMap>
	
	<sql id="Base_Column_List">
	    vote_id, user_id, reply_id, vote_up, vote_down, delete_mark, create_date
  	</sql>
	
	<insert id="insertVote" parameterType="me.codetalk.ssc.solv.pojo.ReplyVote" useGeneratedKeys="true" keyProperty="id" keyColumn="vote_id">
		insert into sv_reply_votes(user_id, reply_id, vote_up, vote_down)
		values (
			#{userId}, #{replyId}, #{up}, #{down}
		)
	</insert>
	
	<update id="markDelete" parameterType="Long">
		update sv_reply_votes set delete_mark = 1
		 where vote_id = #{vid}
	</update>
	
	<select id="selectUserVoteByReply" parameterType="map" resultMap="replyVoteResultMap">
		select <include refid="Base_Column_List" />
		  from sv_reply_votes 
		 where user_id = #{userId}
		   and reply_id = #{replyId}
		   and delete_mark = 0
	</select>
	
	
</mapper>











