<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.codetalk.flow.pofo.mapper.PostLikeMapper">

	<resultMap type="me.codetalk.flow.pofo.pojo.PostLike" id="postLikeResultMap">
		<result property="id" column="like_id"></result>
		<result property="postId" column="post_id"></result>
		<result property="userId" column="user_id"></result>
		<result property="deleteMark" column="delete_mark"></result>
		<result property="updateDate" column="update_date"></result>
		<result property="createDate" column="create_date"></result>
	</resultMap>
	
	<sql id="Base_Column_List">
	    like_id, post_id, user_id, delete_mark, update_date, create_date 
  	</sql>
	
	<insert id="insertPostLike" parameterType="me.codetalk.flow.pofo.pojo.PostLike" useGeneratedKeys="true" keyProperty="id" keyColumn="like_id">
		insert into pf_post_likes (post_id, user_id)
		values (
			#{postId}, #{userId}
		)
	</insert>
	
	<select id="selectPostLike" parameterType="map" resultMap="postLikeResultMap">
		select <include refid="Base_Column_List" />
		  from pf_post_likes
		 where post_id = #{postId} 
		   and user_id = #{userId}
		   and delete_mark = 0
	</select>
	
	<update id="markDelete" parameterType="Long">
		update pf_post_likes 
		   set delete_mark = 1, update_date = CURRENT_TIMESTAMP
		 where like_id = #{likeId}
	</update>
	
</mapper>











