<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.codetalk.flow.miner.mapper.SiteListMapper">

	<resultMap type="me.codetalk.flow.miner.pojo.SiteList" id="siteListMap">
		<result property="id" column="list_id"></result>
		<result property="siteId" column="site_id"></result>
		<result property="entityTypeId" column="entity_type_id"></result>
		<result property="url" column="list_url"></result>
		<result property="type" column="list_type"></result>
		<result property="pagesEl" column="list_pages_el"></result>
		<result property="pagesAttr" column="list_pages_attr"></result>
		<result property="lastPage" column="last_page"></result>
		<result property="pageParam" column="page_param"></result>
		<result property="enabled" column="list_enabled"></result>
		<result property="createDate" column="create_date"></result>
	</resultMap>

	<resultMap type="me.codetalk.flow.miner.vo.SiteListVO" id="siteListVOMap" extends="siteListMap">
		<result property="siteName" column="site_name"></result>
		<result property="siteHome" column="site_home"></result>
		
		<result property="entityType" column="entity_type"></result>
		
		<collection property="entityAttrs" ofType="me.codetalk.flow.miner.pojo.SiteEntityAttr">
			<result property="key" column="attr_key"></result>
			<result property="type" column="attr_type"></result>
			<result property="el" column="attr_el"></result>
			<result property="name" column="attr_name"></result>
		</collection>
	</resultMap>
	
	<select id="selectFirstActive" resultMap="siteListVOMap">
		select list_id, sl.site_id, sl.entity_type_id, list_url, list_type, 
			 list_pages_el, list_pages_attr, last_page, page_param, 
			 list_enabled, sl.create_date, s.site_home, s.site_name, et.entity_type, 
			 ea.attr_key, ea.attr_type, ea.attr_el, ea.attr_name
		  from (select * from site_lists where list_enabled = 1 limit 0, 1) sl, 
					 sites s, site_entity_types et, site_entity_attrs ea
		 where sl.site_id = s.site_id 
			 and sl.entity_type_id = et.entity_type_id 
		   and sl.entity_type_id = ea.entity_type_id 
	</select>
		
	<update id="updateListDisabled" parameterType="map">
		update site_lists 
		   set list_enabled = 0,
		   	   error_msg = #{errorMsg}
		 where list_id = #{listId}
	</update>
	
	<update id="incrLastPage" parameterType="Integer">
		update site_lists 
		   set last_page = last_page + 1
		 where list_id = #{listId} 
	</update>
	
</mapper>











